@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}

img {
    width: 100%;
}


main h1 {
    text-align: center;
    color: rgba(249, 165, 189);
}



.botonera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0%;
    background-color: rgb(255, 184, 204);
}

.contenedor{
    display: grid;
    grid-template-columns:auto;
    grid-template-areas: 
    "nav"
    "header"
    "productos"
    "footer";
}

#nav{
    grid-area: nav;
}

#header{
    grid-area: header;
    text-align: end;
}

#productos{
    grid-area: productos;
    justify-content: center;
}

#footer{
    grid-area: footer;
}


.botonera img{
    width: 150px;
}

.navBar{
    background-color: rgb(255, 184, 204);
    width: 100%;
    height: auto;
    padding: none;
    margin: none;
    position: sticky;
    display: flex;
}

nav ul {
    list-style: none;
    margin-left: 280px;
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    margin-right: 15px;
    align-items: center;
}

nav ul li a {
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none
}

.row {
    display: grid;
    grid-template-columns: repeat(1,auto);
    column-gap: 5px;
    text-align: center;
    color: rgb(255, 184, 204);
    font-size: 1.2rem;
}

.row img {
    width: 40vh;
}

ul{
    list-style-type: none;
}

main ol li {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.textColor{
    color:white;
}

.textColor2{
    color:pink;
}

  a:hover{
    color: rgb(0, 0, 0);
}


.footerAlign {
    text-align: center;
}

.footerAlign img{
    width: 50px;
}


@media (min-width: 768px){

	.contenedor{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav"
        "header header"
        "productos productos"
        "footer footer";
    }
    
    #nav{
        grid-area: nav;
    }
    
    #header{
        grid-area: header;
    }
    
    #productos{
        grid-area: productos;
    }
    
    
    #footer{
        grid-area: footer;
    }
    
    #productos{
        grid-area: productos;
        justify-content: center;
    }

	.row {
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 5px;
        text-align: center;
        color: rgb(255, 184, 204);
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px){

    
	.contenedor{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "productos productos productos"
        "footer footer footer";
    }
    
    #nav{
        grid-area: nav;
    }
    
    #header{
        grid-area: header;
    }
    
    #productos{
        grid-area: productos;
    }
    
    #aside {
        grid-area: aside;
    }
    
    #footer{
        grid-area: footer;
    }
    
    #productos{
        grid-area: productos;
        justify-content: center;
    }

	.row {
        display: grid;
        grid-template-columns: repeat(3,auto);
        column-gap: 5px;
        text-align: center;
        color: rgb(255, 184, 204);
        font-size: 1.2rem;
    }

	.botonera{
        display: flex;
        flex-direction: row;
		justify-content: space-between;
	}




}

