@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Lato', sans-serif;



$mainColor: pink;
$instagramHover: #ef7aa7;
$instagramBackground: #EA4C89;
$facebookBackground: #3b5998;
$facebookHover: #4c70ba;



*{
    font-family: $mainFont
    
}

.bg-pink{
    background-color: $mainColor;
}

#botonera img{
    width: 150px;
}

.bg-pink2{
    color: $mainColor;
    background-color: white
}

